run = "gunicorn -w 4 -b 0.0.0.0:8080 main:app"
entrypoint = "main.py"
modules = ["nodejs-20", "python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run = "gunicorn -w 4 -b 0.0.0.0:8080 main:app"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 8000
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80
